/* место для вашего кода */
.header {
  min-height: 293px;
  padding: auto 50px;
  background-color: #fff;
}

.cover {
  min-height: 757px;
  margin: 0 0 180px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg);
}

.description {}

.lots {
  min-height: 723px;
  margin: 0 24px 120px;
}

.about {
  min-height: 595px;
  margin: 0 24px 180px;
}

.footer {
  min-height: 180px;
}